PORT = Your server port number
NODE_ENV = DEVELOPMENT
SERVER_NAME = <Your server name>

DATABASE_URL = <Your database url>
FRONTEND_URL = <Your frontend website base url>
GOOGLE_CLIENT_ID = <Your google client id>

BCRYPT_SALT_ROUND = <Your salt round number>


JWT_ACCESS_TOKEN_SECRET = <Your access token secret>
JWT_ACCESS_TOKEN_EXPIRE_IN = <Access token expiration time>
JWT_REFRESH_TOKEN_SECRET = Your refresh token secret
JWT_REFRESH_TOKEN_EXPIRE_IN = Your refresh token expiration time

SEED_SUPER_ADMIN_NAME = Super admin Name
SEED_SUPER_ADMIN_EMAIL = Super admin email
SEED_SUPER_ADMIN_PASSWORD = Super admin password

REDIS_USER_NAME = default
REDIS_PASSWORD = Redis password that gotten from redis
REDIS_HOST = Redis host gotten from redis
REDIS_PORT = Redis port no gotten from redis

RESET_PASS_OTP_EXPIRATION_MINUTE = 1
REGISTER_AC_EXPIRATION_MINUTE = 5

SMTP_USERNAME = SMTP username
SMTP_PASS = SMTP password
SMTP_SENDER = Sender email

CLOUDINARY_CLOUD_NAME = Cloudinary name
CLOUDINARY_API_KEY = Cloudinary api key
CLOUDINARY_API_SECRET = Cloudinary api secret
